@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800&family=Lato:wght@300;400;700&display=swap');

@layer base {
  body {
    @apply bg-cream text-gray-900 font-sans;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif uppercase tracking-wider;
  }
}

@layer utilities {
  .text-light {
    @apply font-light font-light;
  }
}
